/**
 * Basic typography style for copy text
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Brandon Grotesque", sans-serif;
  margin: 0;
  letter-spacing: 0;
}

h1 {
  @include heading1();
  color: $primary;
}

h2 {
  @include heading2();
  color: $primary;
}

h3 {
  @include heading3();
  color: $primary;
}

h4 {
  @include heading4();
  color: $primary;
}

h5 {
  @include heading5();
  color: $black;
}

h6 {
  @include heading6();
}

p {
  margin: 0;
  @include bodyText();
}
