.contact-form {
  .form-row {
    @include mq("tablet") {
      display: flex;
      flex-wrap: wrap;
    }
    .form-col {
      margin-bottom: 20px;
      @include mq("tablet") {
        flex: 0 0 50%;
      }
    }
    .form-control {
      width: 100%;
      padding: 15px 25px;
      height: 55px;
      border: 1px solid #707070;
      border-radius: 0;
      box-shadow: 0;
      outline: 0;
      font: 300 14px/21px "Brandon Grotesque", sans-serif;
      color: $black;
      &::placeholder {
        color: $black;
      }
    }
  }
  .form-submit {
    text-align: center;
    .btn-yellow {
      width: 185px;
    }
  }
}
