.content-sidebar {
  @include mq("tablet") {
    display: flex;
    align-items: center;
  }
  > div {
    @include mq("tablet") {
      flex: 0 0 50%;
    }
  }
  .label {
    margin-bottom: 18px;
    font: 500 18px/28px "Brandon Grotesque", sans-serif;
    letter-spacing: 0.015em;
    color: $primary;
  }
  &__left {
    text-align: left;
    @include mq("tablet") {
      padding-right: 50px;
      border-right: 1px solid #3c3c3c;
    }
    h4 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 30px;
      font: 300 14px/26px "brandon Grotesque", sans-serif;
      color: $black;
    }
    .btn {
      min-width: 200px;
    }
  }
  &__right {
    padding: 30px 0;
    text-align: left;
    @include mq("phablet") {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    @include mq("tablet") {
      padding: 10px 30px;
      justify-content: center;
    }
    &--inner {
      @include mq("tablet") {
        max-width: 400px;
      }
    }

    ul {
      margin-bottom: 20px;
      @include mq("tablet") {
        margin-bottom: 40px;
      }
      @include mq("desktop") {
        margin-bottom: 60px;
      }
    }
    .sub-title {
      margin-bottom: 15px;
      color: $primary;
      @include mq("tablet") {
        margin-bottom: 30px;
      }
    }
    .includes {
      @include mq("phablet") {
        margin: 0 -20px;
        display: flex;
      }
      .include {
        margin-bottom: 10px;
        @include mq("phablet") {
          flex: 0 0 50%;
          margin-bottom: 0;
          padding: 0 20px;
        }
        &-icon {
          margin-bottom: 8px;
        }
        .label {
          margin-bottom: 5px;
        }
        .text {
          font: 300 12.5px/18px "Brandon Grotesque";
          color: $dark_grey;
        }
      }
    }
  }
}
