// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// Footer styles
.footer {
  background-color: $primary;
  color: $white;
  a {
    color: $white;
  }
  &-content {
    margin-bottom: 100px;
    .logo-wrapper {
      text-align: center;
      .logo-link {
        margin: auto;
      }
    }
    .footer-widget {
      display: flex;
      margin: 0 -10px;
      flex-wrap: wrap;
      .widget {
        margin-bottom: 30px;
        padding: 0 10px;
        flex: 0 0 50%;
        @include mq("desktop") {
          margin-bottom: 0;
          flex: 0 0 25%;
        }
        &.address-w {
          @include mq("phablet", "max") {
            flex: 0 0 100%;
          }
        }
        &.menu-w {
          @include mq("phablet") {
            order: 1;
          }
          @include mq("desktop") {
            order: 0;
          }
          .menu-items {
            padding-left: 0;
          }
        }
        &.social-w {
          margin: auto;
          @include mq("phablet") {
            margin-bottom: 30px;
          }
        }
        .icon-link {
          display: flex;
          margin-bottom: 15px;
          align-items: flex-start;
          text-decoration: underline;
          font: 500 14px/20px "Brandon Grotesque", sans-serif;
          letter-spacing: 0.05em;
          .icon {
            margin-top: 3px;
            margin-right: 10px;
            flex: 0 0 20px;
          }
        }
        .menu-items a {
          font: 500 14px/32px "Brandon Grotesque", sans-serif;
          letter-spacing: 0.05em;
        }
        .social-widget {
          width: 240px;
          border: 1px solid #a7a7a7;
          &__head {
            padding: 10px;
            font: 700 12px/28px "Montserrat";
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid #a7a7a7;
          }
          &__body {
            display: flex;
            .social-link {
              flex: 0 0 50%;
              padding: 20px 30px;
              text-align: center;
              &:first-child {
                border-right: 1px solid #a7a7a7;
              }
            }
          }
        }
      }
    }
  }
  .bottom-bar {
    display: flex;
    padding: 20px 30px;
    border-top: 1px solid #687ca7;
    align-items: center;
    justify-content: space-between;
    font: 400 12px/16px "Brandon Grotesque", sans-serif;
    a {
      text-decoration: underline;
    }
  }
}
