html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #fff;
  color: #4e4949;
  font-family: "Gotham", sans-serif;
  overflow: hidden;
  font: 400 16px/23px "Minion Pro", sans-serif;
  letter-spacing: 0.01em;
  color: #4e4949; }

.is-transitioning {
  pointer-events: none;
  cursor: progress; }
  .is-transitioning .cursor,
  .is-transitioning .cursor-follower {
    display: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

a,
button,
.btn {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding-left: 20px;
  list-style: none; }
  ul li {
    margin-bottom: 10px;
    font: 300 15px/18px "Brandon Grotesque", sans-serif;
    color: #363636; }
    ul li::before {
      content: "\2022";
      color: #2d4a88;
      font-weight: bold;
      display: inline-block;
      width: 20px;
      margin-left: -20px; }

scroll {
  width: 100vw;
  height: 100vh; }

main {
  max-width: 100vw;
  overflow-x: hidden; }

hr {
  border-top: 1px solid rgba(112, 112, 112, 0.6);
  border-bottom: 0; }

/**
 * Basic typography style for copy text
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Brandon Grotesque", sans-serif;
  margin: 0;
  letter-spacing: 0; }

h1 {
  font-size: 40px;
  line-height: 1.32;
  font-weight: 500;
  color: #2d4a88; }
  @media only screen and (min-width: 769px) {
    h1 {
      font-size: 50px; } }
  @media only screen and (min-width: 1201px) {
    h1 {
      font-size: 64px; } }

h2 {
  font-size: 32px;
  line-height: 1.33;
  font-weight: 500;
  color: #2d4a88; }
  @media only screen and (min-width: 769px) {
    h2 {
      font-size: 42px; } }
  @media only screen and (min-width: 1201px) {
    h2 {
      font-size: 57px; } }

h3 {
  font-size: 32px;
  line-height: 1.33;
  font-weight: 500;
  color: #2d4a88; }
  @media only screen and (min-width: 769px) {
    h3 {
      font-size: 42px; } }
  @media only screen and (min-width: 1201px) {
    h3 {
      font-size: 57px; } }

h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d4a88; }
  @media only screen and (min-width: 769px) {
    h4 {
      font-size: 32px; } }
  @media only screen and (min-width: 1201px) {
    h4 {
      font-size: 42px; } }

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: #000; }
  @media only screen and (min-width: 769px) {
    h5 {
      font-size: 18px; } }
  @media only screen and (min-width: 1201px) {
    h5 {
      font-size: 21px; } }

h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.12em;
  text-transform: uppercase; }
  @media only screen and (min-width: 769px) {
    h6 {
      font-size: 13px; } }
  @media only screen and (min-width: 1201px) {
    h6 {
      font-size: 14px; } }

p {
  margin: 0;
  font: 400 16px/23px "Minion Pro", sans-serif;
  letter-spacing: 0.01em;
  color: #4e4949; }

@font-face {
  font-family: "Brandon Grotesque";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/CoreSansC-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Brandon Grotesque";
  font-style: "normal";
  font-weight: 500;
  src: url("../fonts/CoreSansC-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Brandon Grotesque";
  font-style: "normal";
  font-weight: 900;
  src: url("../fonts/CoreSansC-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Lato";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Book.otf") format("opentype"); }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .header.scrolled {
    background-color: #fff; }
    .header.scrolled .nav .logo-link .logo-original {
      display: none; }
    .header.scrolled .nav .logo-link .logo-secondary {
      display: block; }
    .header.scrolled .nav .menu-items .menu-item a {
      color: #000; }
    .header.scrolled .nav .menu-items .menu-item-has-children::after {
      border-top-color: #000; }
    .header.scrolled .nav .hamburger-inner,
    .header.scrolled .nav .hamburger-inner:after,
    .header.scrolled .nav .hamburger-inner:before {
      background-color: #2d4a88; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .nav .logo-link {
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 560px) {
        .header .nav .logo-link {
          display: none; } }
      @media only screen and (min-width: 1300px) {
        .header .nav .logo-link {
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); } }
      .header .nav .logo-link .logo-secondary {
        display: none; }
    .header .nav .menu-items {
      display: none;
      padding-left: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none; }
      @media only screen and (min-width: 1300px) {
        .header .nav .menu-items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      .header .nav .menu-items .menu-item {
        margin: 0 10px; }
        .header .nav .menu-items .menu-item::before {
          content: none; }
        .header .nav .menu-items .menu-item a {
          color: #fff; }
        .header .nav .menu-items .menu-item-has-children {
          position: relative;
          padding-right: 20px; }
          .header .nav .menu-items .menu-item-has-children::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border: 0 solid #0000;
            border-left-width: 4px;
            border-right-width: 4px;
            border-top: 7px solid #fff;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); }
          .header .nav .menu-items .menu-item-has-children:hover .dropdown-menu {
            opacity: 1;
            visibility: visible; }
          .header .nav .menu-items .menu-item-has-children .dropdown-menu {
            position: absolute;
            margin-top: 10px;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            min-width: 200px;
            background-color: #fff;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .header .nav .menu-items .menu-item-has-children .dropdown-menu a {
              color: #000; }
            .header .nav .menu-items .menu-item-has-children .dropdown-menu .nav-item {
              padding: 10px 0; }
      .header .nav .menu-items.right-menu {
        margin-left: auto;
        margin-right: 20px; }
    .header .nav .hamburger {
      padding: 5px 20px;
      margin-left: auto; }
      @media only screen and (max-width: 560px) {
        .header .nav .hamburger {
          padding: 0;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; } }
      @media only screen and (min-width: 1300px) {
        .header .nav .hamburger {
          display: none; } }

#mobile-nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #2d4a88;
  -webkit-box-shadow: 0px 3px 8px black;
          box-shadow: 0px 3px 8px black;
  overflow: auto;
  z-index: 20;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #mobile-nav.is-active {
    left: 0; }
  #mobile-nav ul {
    padding: 0; }
    #mobile-nav ul li::before {
      content: none; }
  #mobile-nav .menu-items .menu-item {
    padding: 10px 20px; }
    #mobile-nav .menu-items .menu-item a {
      color: #fff; }
    #mobile-nav .menu-items .menu-item-has-children {
      position: relative;
      padding-right: 20px; }
      #mobile-nav .menu-items .menu-item-has-children::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 0 solid #0000;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top: 7px solid #fff;
        top: 18px;
        right: 20px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      #mobile-nav .menu-items .menu-item-has-children .dropdown-menu {
        display: none; }
  #mobile-nav .menu-items .dropdown-menu {
    margin-top: 10px; }

.footer {
  background-color: #2d4a88;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer-content {
    margin-bottom: 100px; }
    .footer-content .logo-wrapper {
      text-align: center; }
      .footer-content .logo-wrapper .logo-link {
        margin: auto; }
    .footer-content .footer-widget {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 -10px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer-content .footer-widget .widget {
        margin-bottom: 30px;
        padding: 0 10px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%; }
        @media only screen and (min-width: 1201px) {
          .footer-content .footer-widget .widget {
            margin-bottom: 0;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                    flex: 0 0 25%; } }
        @media only screen and (max-width: 560px) {
          .footer-content .footer-widget .widget.address-w {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%; } }
        @media only screen and (min-width: 561px) {
          .footer-content .footer-widget .widget.menu-w {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1; } }
        @media only screen and (min-width: 1201px) {
          .footer-content .footer-widget .widget.menu-w {
            -webkit-box-ordinal-group: 1;
                -ms-flex-order: 0;
                    order: 0; } }
        .footer-content .footer-widget .widget.menu-w .menu-items {
          padding-left: 0; }
        .footer-content .footer-widget .widget.social-w {
          margin: auto; }
          @media only screen and (min-width: 561px) {
            .footer-content .footer-widget .widget.social-w {
              margin-bottom: 30px; } }
        .footer-content .footer-widget .widget .icon-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 15px;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          text-decoration: underline;
          font: 500 14px/20px "Brandon Grotesque", sans-serif;
          letter-spacing: 0.05em; }
          .footer-content .footer-widget .widget .icon-link .icon {
            margin-top: 3px;
            margin-right: 10px;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 20px;
                    flex: 0 0 20px; }
        .footer-content .footer-widget .widget .menu-items a {
          font: 500 14px/32px "Brandon Grotesque", sans-serif;
          letter-spacing: 0.05em; }
        .footer-content .footer-widget .widget .social-widget {
          width: 240px;
          border: 1px solid #a7a7a7; }
          .footer-content .footer-widget .widget .social-widget__head {
            padding: 10px;
            font: 700 12px/28px "Montserrat";
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid #a7a7a7; }
          .footer-content .footer-widget .widget .social-widget__body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .footer-content .footer-widget .widget .social-widget__body .social-link {
              -webkit-box-flex: 0;
                  -ms-flex: 0 0 50%;
                      flex: 0 0 50%;
              padding: 20px 30px;
              text-align: center; }
              .footer-content .footer-widget .widget .social-widget__body .social-link:first-child {
                border-right: 1px solid #a7a7a7; }
  .footer .bottom-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 30px;
    border-top: 1px solid #687ca7;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font: 400 12px/16px "Brandon Grotesque", sans-serif; }
    .footer .bottom-bar a {
      text-decoration: underline; }

.accordion-item {
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #2d4a88; }
  .accordion-item--opened .accordion-item__header::before {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .accordion-item__header {
    position: relative;
    padding: 10px 20px;
    font: 700 14px/28px "Brandon Grotesque", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    cursor: pointer; }
    .accordion-item__header::before, .accordion-item__header::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 40px;
      width: 10px;
      height: 2px;
      background-color: #2d4a88;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .accordion-item__header::before {
      -webkit-transform: translateY(-50%) rotate(90deg);
              transform: translateY(-50%) rotate(90deg); }
  .accordion-item__body {
    display: none;
    padding: 40px 20px; }
    .accordion-item__body h5 {
      margin-bottom: 17.5px;
      text-transform: uppercase;
      color: #2d4a88; }
      @media only screen and (min-width: 1201px) {
        .accordion-item__body h5 {
          font-size: 18px; } }
    .accordion-item__body p {
      max-width: 720px;
      margin: auto;
      margin-bottom: 20px;
      font: 400 16px/23px "Minion Pro", sans-serif;
      letter-spacing: 0.01em;
      color: #4e4949;
      font: 300 14px/26px "Lato", sans-serif; }
    .accordion-item__body ul {
      margin: auto;
      max-width: 400px;
      text-align: left; }

.btn {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer; }

.btn-primary {
  padding: 5px 20px;
  font: 900 12px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.4em;
  color: #fff;
  background-color: #2d4a88;
  min-width: 185px; }
  @media only screen and (min-width: 769px) {
    .btn-primary {
      padding: 8px 20px; } }

.btn-primary-sm {
  padding: 6px 20px;
  font: 700 9px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.5em;
  color: #fff;
  background-color: #2d4a88; }
  @media only screen and (min-width: 769px) {
    .btn-primary-sm {
      padding: 8px 20px; } }

.btn-white {
  padding: 5px 20px;
  font: 900 12px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.4em;
  color: #000;
  background-color: #fff; }
  @media only screen and (min-width: 769px) {
    .btn-white {
      padding: 8px 20px; } }

.btn-yellow {
  padding: 6px 20px;
  font: 700 9px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.5em;
  color: #fff;
  background-color: #f3c032; }

.btn-outline {
  padding: 5px 20px;
  font: 700 12px/28px "Brandon Grotesque", sans-serif;
  background-color: #fff;
  color: #000;
  border: 1px solid #000; }
  @media only screen and (min-width: 769px) {
    .btn-outline {
      padding: 8px 20px; } }

.btn-link {
  position: relative;
  font: 700 12px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000; }
  .btn-link--white {
    color: #fff; }
    .btn-link--white.btn-link::after {
      background-color: #fff; }
  .btn-link:hover::after {
    width: 100%; }
  .btn-link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    will-change: width; }
  .btn-link--reverse::after {
    width: 100%; }
  .btn-link--reverse:hover::after {
    width: 0; }

@media only screen and (min-width: 769px) {
  .contact-form .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
.contact-form .form-row .form-col {
  margin-bottom: 20px; }
  @media only screen and (min-width: 769px) {
    .contact-form .form-row .form-col {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }
.contact-form .form-row .form-control {
  width: 100%;
  padding: 15px 25px;
  height: 55px;
  border: 1px solid #707070;
  border-radius: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
  font: 300 14px/21px "Brandon Grotesque", sans-serif;
  color: #000; }
  .contact-form .form-row .form-control::-webkit-input-placeholder {
    color: #000; }
  .contact-form .form-row .form-control:-ms-input-placeholder {
    color: #000; }
  .contact-form .form-row .form-control::-ms-input-placeholder {
    color: #000; }
  .contact-form .form-row .form-control::placeholder {
    color: #000; }
.contact-form .form-submit {
  text-align: center; }
  .contact-form .form-submit .btn-yellow {
    width: 185px; }

@media only screen and (min-width: 769px) {
  .content-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media only screen and (min-width: 769px) {
  .content-sidebar > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }
.content-sidebar .label {
  margin-bottom: 18px;
  font: 500 18px/28px "Brandon Grotesque", sans-serif;
  letter-spacing: 0.015em;
  color: #2d4a88; }
.content-sidebar__left {
  text-align: left; }
  @media only screen and (min-width: 769px) {
    .content-sidebar__left {
      padding-right: 50px;
      border-right: 1px solid #3c3c3c; } }
  .content-sidebar__left h4 {
    margin-bottom: 16px; }
  .content-sidebar__left p {
    margin-bottom: 30px;
    font: 300 14px/26px "brandon Grotesque", sans-serif;
    color: #000; }
  .content-sidebar__left .btn {
    min-width: 200px; }
.content-sidebar__right {
  padding: 30px 0;
  text-align: left; }
  @media only screen and (min-width: 561px) {
    .content-sidebar__right {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media only screen and (min-width: 769px) {
    .content-sidebar__right {
      padding: 10px 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media only screen and (min-width: 769px) {
    .content-sidebar__right--inner {
      max-width: 400px; } }
  .content-sidebar__right ul {
    margin-bottom: 20px; }
    @media only screen and (min-width: 769px) {
      .content-sidebar__right ul {
        margin-bottom: 40px; } }
    @media only screen and (min-width: 1201px) {
      .content-sidebar__right ul {
        margin-bottom: 60px; } }
  .content-sidebar__right .sub-title {
    margin-bottom: 15px;
    color: #2d4a88; }
    @media only screen and (min-width: 769px) {
      .content-sidebar__right .sub-title {
        margin-bottom: 30px; } }
  @media only screen and (min-width: 561px) {
    .content-sidebar__right .includes {
      margin: 0 -20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .content-sidebar__right .includes .include {
    margin-bottom: 10px; }
    @media only screen and (min-width: 561px) {
      .content-sidebar__right .includes .include {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        margin-bottom: 0;
        padding: 0 20px; } }
    .content-sidebar__right .includes .include-icon {
      margin-bottom: 8px; }
    .content-sidebar__right .includes .include .label {
      margin-bottom: 5px; }
    .content-sidebar__right .includes .include .text {
      font: 300 12.5px/18px "Brandon Grotesque";
      color: #363636; }

.double-images {
  text-align: center;
  border-bottom: 1px solid rgba(112, 112, 112, 0.6); }
  .double-images .description {
    margin: 35px auto;
    max-width: 520px;
    font: 400 16px/23px "Minion Pro", sans-serif;
    letter-spacing: 0.01em;
    color: #4e4949;
    font: 300 14px/26px "Lato", sans-serif;
    color: #000; }
  @media only screen and (min-width: 769px) {
    .double-images .images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }
  .double-images .images .image {
    position: relative;
    padding: 12.5px; }
    @media only screen and (min-width: 769px) {
      .double-images .images .image {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%; } }
    .double-images .images .image .bg-image {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .double-images .images .image .image-caption {
      position: absolute;
      width: 200px; }
      @media only screen and (max-width: 768px) {
        .double-images .images .image .image-caption {
          width: 150px; } }
      .double-images .images .image .image-caption.bg-blue {
        bottom: 32.5px;
        left: 28.5px;
        background-color: #2d4a88; }
        .double-images .images .image .image-caption.bg-blue .text {
          border-top: 1px solid #446aba; }
      .double-images .images .image .image-caption.bg-green {
        top: 32.5px;
        right: 28.5px;
        background-color: #26352e; }
        .double-images .images .image .image-caption.bg-green .text {
          border-top: 1px solid #446556; }
      .double-images .images .image .image-caption .caption-image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 170px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        @media only screen and (max-width: 768px) {
          .double-images .images .image .image-caption .caption-image {
            height: auto; } }
        .double-images .images .image .image-caption .caption-image img {
          max-width: 100%; }
      .double-images .images .image .image-caption .text {
        color: #fff;
        font: 500 15px/20px "Brandon Grotesque", sans-serif;
        padding: 10px 15px;
        text-align: center; }
        @media only screen and (max-width: 768px) {
          .double-images .images .image .image-caption .text {
            padding: 5px 10px;
            font-size: 10px;
            line-height: 15px; } }

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: #0000; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms; }

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner:before {
  top: -10px; }

.hamburger--squeeze .hamburger-inner:before {
  -webkit-transition: top 75ms ease 0.12s, opacity 75ms ease;
  transition: top 75ms ease 0.12s, opacity 75ms ease; }

.hamburger--squeeze .hamburger-inner:after {
  -webkit-transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-inner:after {
  bottom: -10px; }

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 0.7; }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  -webkit-transition: top 75ms ease, opacity 75ms ease 0.12s;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
  opacity: 0; }

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.hero {
  position: relative; }
  .hero--overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    z-index: 1; }
  .hero img,
  .hero video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .hero .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 5; }
    @media only screen and (max-width: 768px) {
      .hero .btn-play svg {
        width: 50px; } }
  .hero .btn-sound {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 5; }

.instagram {
  position: relative;
  width: 100vw;
  padding: 78px 0;
  background-color: #f3c032;
  overflow-x: hidden; }
  .instagram .slick-slide {
    padding: 10px; }
  .instagram-image {
    position: relative;
    width: 330px !important;
    height: 360px; }
    .instagram-image img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .instagram-controls {
    padding: 0 20px;
    margin-top: 30px;
    color: white; }
    @media only screen and (min-width: 769px) {
      .instagram-controls {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 40px;
        margin-top: 70px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .instagram-controls a,
    .instagram-controls span {
      margin-bottom: 10px;
      display: inline-block;
      font: 500 20px/1.53 "Brandon Grotesque";
      text-transform: initial;
      text-align: left;
      letter-spacing: 0; }
      @media only screen and (min-width: 769px) {
        .instagram-controls a,
        .instagram-controls span {
          margin-bottom: 0;
          font-size: 26px; } }
    @media only screen and (max-width: 768px) {
      .instagram-controls span {
        width: 100%; } }

@media only screen and (min-width: 769px) {
  .image-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
.image-content.left .images {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
@media only screen and (min-width: 769px) {
  .image-content.left .contents {
    margin-left: 0;
    margin-right: 100px; } }
.image-content .images {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .image-content .images {
      margin-bottom: 30px; } }
  .image-content .images .secondary-image {
    position: absolute; }
.image-content .contents {
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media only screen and (min-width: 769px) {
    .image-content .contents {
      max-width: 500px;
      margin-bottom: 0;
      margin-left: 100px; } }
  .image-content .contents.has-bg {
    padding-bottom: 200px; }
  .image-content .contents h5 {
    margin-bottom: 5px;
    color: #000; }
  .image-content .contents h3 {
    margin-bottom: 20px; }
  .image-content .contents .text {
    margin-bottom: 30px;
    font: 400 16px/23px "Minion Pro", sans-serif;
    letter-spacing: 0.01em;
    color: #4e4949;
    font: 300 14px/26px "Lato", sans-serif;
    color: #000; }
  .image-content .contents .button-group .btn {
    margin-right: 30px; }
    @media only screen and (max-width: 768px) {
      .image-content .contents .button-group .btn {
        margin-bottom: 20px;
        margin-right: 0; } }

.slider h5 {
  text-align: center; }
.slider h1 {
  text-align: center; }
.slider .slider-item {
  padding: 0 7px; }
  .slider .slider-item .slider-image {
    position: relative;
    max-height: 645px;
    overflow: hidden; }
    @media only screen and (max-width: 560px) {
      .slider .slider-item .slider-image {
        height: 300px; } }
    .slider .slider-item .slider-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .slider .slider-item .slider-image .btn-white {
      position: absolute;
      left: 50%;
      bottom: 40px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media only screen and (min-width: 769px) {
        .slider .slider-item .slider-image .btn-white {
          left: auto;
          right: 40px;
          width: 217px;
          -webkit-transform: none;
                  transform: none; } }
  .slider .slider-item .slider-caption {
    margin-top: 27px; }
    @media only screen and (min-width: 769px) {
      .slider .slider-item .slider-caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .slider .slider-item .slider-caption .slider-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.33;
      color: #000;
      letter-spacing: 0; }
      @media only screen and (min-width: 769px) {
        .slider .slider-item .slider-caption .slider-name {
          font-size: 18px; } }
      @media only screen and (min-width: 1201px) {
        .slider .slider-item .slider-caption .slider-name {
          font-size: 21px; } }
      @media only screen and (max-width: 768px) {
        .slider .slider-item .slider-caption .slider-name {
          display: block; } }
    .slider .slider-item .slider-caption .slider-link {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.71;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #000;
      text-decoration: underline;
      letter-spacing: 0; }
      @media only screen and (min-width: 769px) {
        .slider .slider-item .slider-caption .slider-link {
          font-size: 13px; } }
      @media only screen and (min-width: 1201px) {
        .slider .slider-item .slider-caption .slider-link {
          font-size: 14px; } }
.slider.big-slider .slick-prev,
.slider.big-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  z-index: 2;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .slider.big-slider .slick-prev::before,
  .slider.big-slider .slick-next::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0 solid #0000;
    border-top-width: 7px;
    border-bottom-width: 7px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
.slider.big-slider .slick-prev {
  left: 60px; }
  .slider.big-slider .slick-prev::before {
    border-right: 12px solid #2d4a88; }
  .slider.big-slider .slick-prev:hover {
    left: 50px; }
.slider.big-slider .slick-next {
  right: 0; }
  .slider.big-slider .slick-next::before {
    border-left: 12px solid #2d4a88; }
  .slider.big-slider .slick-next:hover {
    right: -10px; }

.tab {
  margin-top: 40px; }
  .tab .title {
    text-align: center;
    font: 500 24px/1.2 "Brandon Grotesque", sans-serif;
    margin-bottom: 20px;
    color: #000; }
    @media only screen and (min-width: 769px) {
      .tab .title {
        font-size: 28px; } }
    @media only screen and (min-width: 1201px) {
      .tab .title {
        font-size: 34px; } }
  .tab .desc {
    margin-bottom: 40px;
    font: 300 16px/28px "Brandon Grotesque", sans-serif;
    text-align: center;
    color: #000; }
  .tab-inner {
    position: relative; }
    .tab-inner .tab-nav {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      left: 20px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 5; }
      @media only screen and (min-width: 769px) {
        .tab-inner .tab-nav {
          top: 37px;
          left: 40px; } }
      .tab-inner .tab-nav a {
        position: relative;
        margin-right: 20px;
        font: 500 14px/3 "Brandon Grotesque", sans-serif;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #fff;
        opacity: 0.18; }
        @media only screen and (min-width: 769px) {
          .tab-inner .tab-nav a {
            font-size: 18px; } }
        .tab-inner .tab-nav a.active {
          opacity: 1; }
          .tab-inner .tab-nav a.active::after {
            position: absolute;
            content: "\2022";
            left: 50%;
            bottom: 0;
            line-height: 0;
            color: #fff;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
        .tab-inner .tab-nav a:hover {
          opacity: 0.55; }
    .tab-inner .tab-content {
      position: relative;
      display: none; }
      @media only screen and (max-width: 768px) {
        .tab-inner .tab-content {
          height: 300px; } }
      .tab-inner .tab-content.active {
        display: block; }
      .tab-inner .tab-content::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.4) 100%); }
      .tab-inner .tab-content .bg-image {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .tab-inner .tab-content__caption {
        position: absolute;
        bottom: 30px;
        width: 100%;
        padding: 0 20px;
        z-index: 5; }
        @media only screen and (min-width: 561px) {
          .tab-inner .tab-content__caption {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
            padding: 0 40px; } }
      .tab-inner .tab-content__title {
        font: 500 20px/1.88 "Brandon Grotesque", sans-serif;
        color: #fff; }
        @media only screen and (min-width: 769px) {
          .tab-inner .tab-content__title {
            font-size: 34px; } }
      .tab-inner .tab-content__link {
        font: 500 12px/1 "Brandon Grotesque", sans-serif;
        color: #fff;
        text-decoration: underline; }
        @media only screen and (min-width: 561px) {
          .tab-inner .tab-content__link {
            margin-left: 20px; } }
      .tab-inner .tab-content .btn-white {
        margin-left: 30px; }
        @media only screen and (min-width: 561px) {
          .tab-inner .tab-content .btn-white {
            margin-left: auto; } }
        @media only screen and (min-width: 769px) {
          .tab-inner .tab-content .btn-white {
            width: 217px; } }

.text-primary {
  color: #2d4a88; }

.bg-primary {
  background-color: #2d4a88; }

.text-secondary {
  color: #4e4949; }

.bg-secondary {
  background-color: #4e4949; }

.container {
  margin: auto;
  padding: 0 30px; }
  @media only screen and (min-width: 1441px) {
    .container {
      padding: 0 20px;
      max-width: 1230px; } }

.container-fluid {
  margin: auto;
  padding: 0 20px;
  width: 100%; }

.background-element {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #4e4949;
  visibility: hidden;
  opacity: 0;
  z-index: 1000; }

.cursor {
  display: none;
  position: fixed;
  background-color: #2d4a88;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1); }
  .cursor.active {
    background-color: #4e4949;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .cursor.menu-active {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .cursor.primary {
    background-color: #2d4a88 !important; }
  .cursor.white {
    background-color: #fff !important; }
  .cursor.hovered {
    opacity: 1; }
  @media only screen and (min-width: 769px) {
    .cursor {
      display: block; } }

.cursor-follower {
  display: none;
  position: fixed;
  border: 1px solid #2d4a88;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) border-color, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) border-color, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) border-color;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) border-color, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  overflow: hidden; }
  .cursor-follower.active {
    opacity: 1;
    -webkit-transform: scale(3);
            transform: scale(3);
    border-color: #4e4949; }
  .cursor-follower.primary {
    border-color: #2d4a88 !important; }
  .cursor-follower.white {
    border-color: #fff !important; }
  .cursor-follower.menu-active {
    opacity: 1;
    -webkit-transform: scale(3);
            transform: scale(3); }
  .cursor-follower.hovered {
    opacity: 1; }
  @media only screen and (min-width: 769px) {
    .cursor-follower {
      display: block; } }

.scrollbar-track {
  width: 3px !important;
  background: transparent !important; }
  .scrollbar-track .scrollbar-thumb {
    width: 3px;
    background: #2d4a88; }

.page-template-home .image-content {
  margin: 70px 0; }

.page-template-base .content-sidebar {
  margin: 100px auto; }
.page-template-base .accordion {
  margin: 100px auto; }
.page-template-base .instagram {
  margin-top: 100px; }

/*# sourceMappingURL=style.css.map */